<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CRAVZEW</title>

  <meta
    property="og:image"
    content="https://origin.pb06e2-resources.com/webStaticPB/promo/default/images/share.jpg"
  />

  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    property="twitter:image"
    content="https://origin.pb06e2-resources.com/webStaticPB/promo/default/images/share.jpg"
  />

  <meta name="theme-color" content="#000000" />
  <meta name="description" content="CRAVZEW" />

  <meta property="og:description" content="CRAVZEW" />

  <!-- icons -->
  <include src="meta/meta-icons.html"></include>

  <!-- fonts -->
  <include src="meta/meta-fonts.html"></include>

  <!-- styles -->
  <link rel="stylesheet" href="scss/main.scss" />

  <!-- scripts -->
  <include src="meta/meta-scripts.html"></include>
</head>
