<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-extra-bold-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-extra-bold-italic-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-bold-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-bold-italic-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-medium-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-regular-webfont.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<style>
  @font-face {
    font-family: 'montserrat-pari';
    src:
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-extra-bold-webfont.woff2')
        format('woff2'),
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-extra-bold-webfont.woff')
        format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'montserrat-pari';
    src:
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-bold-webfont.woff2')
        format('woff2'),
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-bold-webfont.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'montserrat-pari';
    src:
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-medium-webfont.woff2')
        format('woff2'),
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-medium-webfont.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'montserrat-pari';
    src:
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-regular-webfont.woff2')
        format('woff2'),
      url('https://origin.pb06e2-resources.com/webStaticPB/promo/default/fonts/montserrat-regular-webfont.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  * {
    font-family: 'montserrat-pari';
  }
</style>
