@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'reset';

// plugins
@import '../../node_modules/overlayscrollbars/styles/overlayscrollbars.min.css';

// 1px ===  1rem
html,
body {
  position: relative;

  background-color: #000000;

  font-family: 'montserrat-pari';
  font-size: calc((0.052vw + 0.111vh) / 2);

  @media screen and (max-aspect-ratio: 3/2) {
    font-size: calc(0.062vw);
  }

  @media screen and (min-aspect-ratio: 21/9) {
    font-size: calc(0.101vh);
  }

  @media screen and (max-width: $sm) {
    font-size: 0.313vw;
  }
}

body {
  max-width: 100vw;
  min-height: $min;

  @media screen and (max-width: $sm) {
    min-height: auto;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.os-scrollbar {
  // The size of the scrollbar
  // --os-size: 10px;
  // The axis-perpedicular padding of the scrollbar (horizontal: padding-y, vertical: padding-x)
  // --os-padding-perpendicular: 0;
  // // The axis padding of the scrollbar (horizontal: padding-x, vertical: padding-y)
  // --os-padding-axis: 0;
  // // The border radius of the scrollbar track
  // --os-track-border-radius: 0;
  // // The background of the scrollbar track
  // --os-track-bg: none;
  // // The :hover background of the scrollbar track
  // --os-track-bg-hover: none;
  // // The :active background of the scrollbar track
  // --os-track-bg-active: none;
  // // The border of the scrollbar track
  // --os-track-border: none;
  // // The :hover background of the scrollbar track
  // --os-track-border-hover: none;
  // // The :active background of the scrollbar track
  // --os-track-border-active: none;
  // // The border radius of the scrollbar handle
  // --os-handle-border-radius: 0;
  // // The background of the scrollbar handle
  // --os-handle-bg: none;
  // // The :hover background of the scrollbar handle
  // --os-handle-bg-hover: none;
  // // The :active background of the scrollbar handle
  // --os-handle-bg-active: none;
  // // The border of the scrollbar handle
  // --os-handle-border: none;
  // // The :hover border of the scrollbar handle
  // --os-handle-border-hover: none;
  // // The :active border of the scrollbar handle
  // --os-handle-border-active: none;
  // // The min size of the scrollbar handle
  // --os-handle-min-size: 33px;
  // // The max size of the scrollbar handle
  // --os-handle-max-size: none;
  // // The axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  // --os-handle-perpendicular-size: 100%;
  // // The :hover axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  // --os-handle-perpendicular-size-hover: 100%;
  // // The :active axis-perpedicular size of the scrollbar handle (horizontal: height, vertical: width)
  // --os-handle-perpendicular-size-active: 100%;
  // // Increases the interactive area of the scrollbar handle.
  // --os-handle-interactive-area-offset: 0;

  @media screen and (max-width: $sm) {
    --os-size: 7px;
  }
}

// /* Работает в Firefox */
// * {
//   scrollbar-width: 8rem;
// }

// body {
//   scrollbar-color: darken($lavand, 20%) #000000;
// }

// /* Работает в Chrome, Edge и Safari */
// body::-webkit-scrollbar {
//   width: 8rem;
// }

// body::-webkit-scrollbar-track {
//   background: #000000;
//   /* color of the tracking area */
// }

// body::-webkit-scrollbar-thumb {
//   border: none;
//   /* creates padding around scroll thumb */
//   border-radius: 20rem;
//   /* roundness of the scroll thumb */
//   background-color: darken($lavand, 20%);
//   /* color of the scroll thumb */
// }
