@mixin font($fname, $fstyle, $fweight, $furlwoff2, $furlwoff) {
  @font-face {
    font-family: $fname;
    font-weight: $fweight;
    font-style: $fstyle;

    src: url($furlwoff2) format("woff2"), url($furlwoff) format("woff");
  }
}

@include font("montserrat-pari", normal, 900, "../fonts/montserrat-black-webfont.woff2",  "../fonts/montserrat-black-webfont.woff");
@include font("montserrat-pari", normal, 700, "../fonts/montserrat-bold-webfont.woff2",  "../fonts/montserrat-bold-webfont.woff");
@include font("montserrat-pari", normal, 500, "../fonts/montserrat-medium-webfont.woff2",  "../fonts/montserrat-medium-webfont.woff");
@include font("montserrat-pari", normal, 400, "../fonts/montserrat-regular-webfont.woff2",  "../fonts/montserrat-regular-webfont.woff");


// font-weight helper
// 100 - Extra Light or Ultra Light
// 200 - Light or Thin
// 300 - Book or Demi
// 400 - Regular or Normal
// 500 - Medium
// 600 - Semibold or Demibold
// 700 - Bold
// 800 - Extra Bold
// 900 - Black or Heavy
