<div class="aside promo__aside">
  <div class="aside__head">
    <picture>
      <source media="(min-width: 999.9px)" srcset="
          images/vector/about-me.png?as=webp&width=675 1x,
          images/vector/about-me.png?as=webp           2x
        " />
      <source srcset="images/skip.png?as=webp" />
      <img src="images/vector/about-me.png?as=webp" alt="" />
    </picture>
  </div>
  <div class="aside__body">
    <div class="aside__body--text">
      <p>Я - заядлый гуру Front-end разработки с безумным желанием создавать потрясающие пользовательские интерфейсы.
        Мои навыки веб-разработки на высоте, и я стремлюсь к тому, чтобы мои веб-приложения были не только
        качественными, но и интуитивно понятными. Вот что я могу:</p>
      <ul>
        <li>
          HTML/CSS: Я знаю, как верстать веб-страницы и делать их стильными. Мне хорошо знакомы такие современные
          концепции, как Flexbox и Grid Layout.
        </li>
        <li>
          JavaScript: Я понимаю язык программирования JavaScript и его фреймворки (например, React, Angular, Vue.js). Я
          опытен в работе с AJAX и взаимодействием с сервером.
        </li>
        <li>
          Адаптивный дизайн: Я создаю веб-страницы, которые прекрасно смотрятся на любых устройствах. Если это нужно, то
          я могу придумать какой-то необычный дизайн, чтобы зацепить пользователей.
        </li>
        <li>
          UI/UX дизайн: Я создаю интерфейсы, которые не только красивы, но и удобны. Каждая кнопка, каждый элемент
          пользовательского интерфейса проектируется так, чтобы пользователь легко понимал, что нужно делать.
        </li>
      </ul>
      <p>Если ты хочешь создать крутое веб-приложение, я тот, кто тебе нужен!</p>
    </div>

    <div class="aside__buttons">
      <a class="button button--freebet-circle" href="mailto:crazykey8@mail.ru" target="_blank">
        <span> Напиши мне </span>
      </a>

    </div>
    <div class="aside__mobile-content">
      <div class="aside__mobile--name">
        <img src="images/billboard/example-billboard.png?as=webp" alt="" />
        <img src="images/billboard/info.png?as=webp" alt="" />
      </div>
      <div class="aside__buttons--mobile">
        <a class="button button--freebet-circle" href="mailto:crazykey8@mail.ru" target="_blank">
          <span> Напиши мне </span>
        </a>

      </div>
      <div class="aside__body--text--mobile">
        <p>Я - заядлый гуру Front-end разработки с безумным желанием создавать потрясающие пользовательские интерфейсы.
          Мои навыки веб-разработки на высоте, и я стремлюсь к тому, чтобы мои веб-приложения были не только
          качественными, но и интуитивно понятными. Вот что я могу:</p>
        <ul>
          <li>
            HTML/CSS: Я знаю, как верстать веб-страницы и делать их стильными. Мне хорошо знакомы такие современные
            концепции, как Flexbox и Grid Layout.
          </li>
          <li>
            JavaScript: Я понимаю язык программирования JavaScript и его фреймворки (например, React, Angular, Vue.js).
            Я
            опытен в работе с AJAX и взаимодействием с сервером.
          </li>
          <li>
            Адаптивный дизайн: Я создаю веб-страницы, которые прекрасно смотрятся на любых устройствах. Если это нужно,
            то
            я могу придумать какой-то необычный дизайн, чтобы зацепить пользователей.
          </li>
          <li>
            UI/UX дизайн: Я создаю интерфейсы, которые не только красивы, но и удобны. Каждая кнопка, каждый элемент
            пользовательского интерфейса проектируется так, чтобы пользователь легко понимал, что нужно делать.
          </li>
        </ul>
        <p>Если ты хочешь создать крутое веб-приложение, я тот, кто тебе нужен!</p>
      </div>
    </div>
  </div>
</div>