<div class="billboard promo__billboard">
  <div class="billboard__image">
    <img src="images/billboard/example-billboard.png?as=webp" alt="" />
  </div>
  <div class="billboard__description">
    <picture>
      <source media="(min-width: 999.9px)" srcset="
          images/billboard/info.png?as=webp&width=675 1x,
          images/billboard/info.png?as=webp           2x
        " />
      <source srcset="images/skip.png?as=webp" />
      <img src="images/billboard/info.png?as=webp" alt="" />
    </picture>
  </div>
</div>